<mat-card>
  <mat-action-list>
    <div mat-subheader>Menu</div>
    <button mat-list-item routerLink="/normal/profile">
      <mat-icon matListItemIcon>account_circle</mat-icon> Profile
    </button>
    <button mat-list-item [routerLink]="'/normal/all'">
      <mat-icon matListItemIcon>quiz</mat-icon> All Quizzes
    </button>

    <button
      mat-list-item
      [routerLink]="'/normal/' + category.id"
      *ngFor="let category of categories"
    >
      <mat-icon matListItemIcon>category</mat-icon>{{ category.title }}
    </button>
  </mat-action-list>
</mat-card>
