<mat-card class="mt-10">
  <h1 class="text-center">Profile Details</h1>
  <mat-card-content>
    <div class="bootstrap-wrapper">
      <div class="container">
        <div class="row">
          <div class="container text-center">
            <img
              src="{{ user.profile }}"
              class="profile-image"
              alt="user-image"
            />
            <h1>{{ user.firstName }} {{ user.lastName }}</h1>

            <div class="row">
              <div class="col-md-10 offset-md-2">
                <table>
                  <tr>
                    <td>Username</td>
                    <td>{{ user.username }}</td>
                  </tr>
                  <tr *ngIf="user.authorities">
                    <td>ID</td>
                    <td *ngIf="user.authorities[0].authority === 'ADMIN'">
                      ADMIN_{{ user.id }}
                    </td>
                    <td *ngIf="user.authorities[0].authority === 'NON_ADMIN'">
                      USER_{{ user.id }}
                    </td>
                  </tr>
                  <tr *ngIf="user.email">
                    <td>Email</td>
                    <td>{{ user.email }}</td>
                  </tr>
                  <tr *ngIf="user.phone">
                    <td>Phone</td>
                    <td>{{ user.phone }}</td>
                  </tr>
                  <tr>
                    <td>Status</td>
                    <td>{{ user.enabled ? "ACTIVE" : "INACTIVE" }}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions class="text-center">
    <button mat-button>Update</button>
  </mat-card-actions>
</mat-card>
